@font-face {
    font-family: 'Kreative Square SM';
    font-style: normal;
    font-weight: 200;
    src: url('/assets/fonts/kreative-square/4868a2da9773629aeaa745b109a9779c/6c075a2e55e50b8a60cf338cd67cbd4b/KreativeSquareSMMedium.ttf') format('truetype');
}
