@font-face {
    font-family: 'Kreative Square SM';
    font-style: normal;
    font-weight: 200;
    src: url('https://github.com/AnthonyAportela/my-css-fonts/blob/main/KreativeSquareSM.ttf') format('truetype');
}
